* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* black nav button */

.fancy-button-text-container {
  position: relative;
  display: flex;
  overflow: hidden;
}

.fancy-button-text-container span {
  display: inline-block;
  white-space: pre;
  transition: transform 0.5s ease;
}

.fancy-button-text-container span:last-child {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
}

/* nav link  */

.nav-link {
  text-decoration: none;
  margin: 0 10px;
  color: black;
  transition: color 0.5s ease;
}

.nav-link:hover {
  color: #fb5457;
}

/* slick caraousal arrow styleing */
/* .slick-prev,
.slick-next {
  color: #f5a8a6;
}


/* .cover-image-animation {
  position: relative;
  display: none;
  left: 100px;
  clip-path: "polygon(0 0, 100% 0, 100% 100%, 0 100%)";
  transition: "clip-path 0.5s ease";
}

.cover-image-animation:hover {
  display: inline-block;
  position: absolute;
  clip-path: "polygon(0 0, 100% 0, 100% 100%, 0 100%)";
} */
